extends layout

block content
  title Basic Node.js App
  div.container
    h1 Basic Node.js App
    br
    p Thanks for checking out this basic setup. The MongoDB portion is commented out initially to ensure that this runs after cloning.
    br
    p If you haven't checked out the README just yet, I strongly recommend it.